#wrapper {      
    width: 85%;
    margin: auto;
    background-color: white;
    border: 0px solid #5f5f5f;

}

header{
    margin: 10px -190px 0px 55px;
}
/*BAGGRUNDSFARVE*/
.artikler{
    background-color: #fbfbfb;
    padding-top: 20px;
    
}
/*ROTERE LOGO*/
.rotateimg180 {
  -webkit-transform:rotate(17deg);
  -moz-transform: rotate(17deg);
  -ms-transform: rotate(17deg);
  -o-transform: rotate(17deg);
  transform: rotate(25deg);
    margin: 50px 0px 0px 0px;
}
/*SOGEFELT*/
.menu-search-button{
    width:16px;
}
.menu-search-box{
    margin: 20px 20px;
    display: inline-block;
}
/*Chokolade boller forside */
.chokoboller {
    margin: 10px 62px 10px 62px;
    position: relative;
    border: solid;
    overflow:hidden;
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
    background-color: white;
}
.overskrift2{
    position: absolute;
    top: 350px;
    left: 0px;
    width: 100%;
}

.overskrift2 span{
    color: #151514;
    font:bold 24px/45px; 
    background:;
    padding-left: 10px;
    padding-right: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
}

/*Navigation bar*/

@import url(https://fonts.googleapis.com/css?family=Muli);
.snip1555 {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 1em;
    margin: 2px 2px;
    text-transform: uppercase;
}

.snip1555 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 0.6em;
    padding: 7px 10px;
    position: relative;
}

.snip1555 li a {
    color: #000;
    text-decoration: none;
}

.snip1555 li:before,
.snip1555 li:after {
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    height: 2px;
    width: 35%;
    background-color: #5e7a67;
    position: absolute;
    content: '';
    opacity: 0;
}

.snip1555 li:before {
    top: 0;
    left: 0;
}

.snip1555 li:after {
    bottom: 0;
    right: 0;
}

.snip1555 li:hover:before,
.snip1555 li.hover:before,
.snip1555 li:hover:after,
.snip1555 li.hover:after {
    opacity: 1;
}

.snip1555 li:hover:before,
.snip1555 li.hover:before {
    left: 65%;
}

.snip1555 li:hover:after,
.snip1555 li.hover:after {
    right: 65%;
}

/*nav bar slut*/

/*BOXE*/
.bob { 
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    height: auto;
    background-color: ;

 }
.flex-item {
    background-color: white;
    width: 306px;
    height: 500px;
    margin: 27px;
    border: solid;
    overflow: hidden;
    border-color: rgba(0, 0, 0, 0);
    color:#2b2b2b;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
    opacity: 0.5;
    filter: alpha(opacity=50);
    
}
.flex-item:hover{
    opacity: 1;
}
.akt{
    width: auto;
    height: 400px;
    margin: 0px 0px;
    cursor: pointer;
}
 h3 overskrift1{
    position: absolute;
    padding-left: 9px;
    bottom: -490px;
    width: 100%;
    color:black;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: -1px; 0;
}
h5{
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color:#888;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}
/*artikel slut*/

/*nem broccolitrærte artikel 1*/
.kolonoertarte{
      -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
    margin: 30px 30px 30;
    font-family: 'Lato', sans-serif;
   
   
}
.tarte{
    font-size: 400%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #5e7a67;
 /*10 ovelser artikel 2*/   
}
.KolonerWOD{
    margin: 0px 200px 0px 200px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
}
.ovelse{
    font-size: 400%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #5e7a67;
    margin: 70px;
}

/*Sund mad artikel 3*/
.sundmad{
     font-size: 400%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #5e7a67;
}
.kolonersundmad{
    -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
    margin: 30px;
    font-family: 'Lato', sans-serif;
    text-align: justify;;
  
}
#kylling{
    -webkit-transform:rotate(17deg);
  -moz-transform: rotate(17deg);
  -ms-transform: rotate(17deg);
  -o-transform: rotate(17deg);
  transform: rotate(90deg);
}
/*chokoladeboller - menu:opskrifter*/
.sundechokoboller{
    font-size: 400%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #5e7a67;
}
.chokoboller1{
    -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
    margin: 30px;
    font-family: 'Lato', sans-serif;
    text-align: justify;

}
/*ARTIKLERNES OVERSKRIFT - madplaner*/

h2 {
   text-transform: uppercase;
    text-align: left;
    font-size: 21px;
   
}
.madp {
    font-size: 400%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #5e7a67;

}
a{
    text-decoration: none;
}
/*MADPLAN UGE 41*/

.madplan section {
    float: left;
    display: block;
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
    width: 23%;
    margin: 2% auto;
    margin-top: 0px;
}

.madplan {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.suppe{
    padding-top: 40px;
}

.madplan p{
    margin-top: 0px;
}

/*madplan*/
.bob1 { 
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    height: auto;
    background-color: ;
    padding-top: 20px;
}
.flex-item1 {
     background-color: white;
    width: 1000px;
    height: 250px;
    margin: 20px 50px;
    border: solid;
    overflow: hidden;
    border-color:rgba(0, 0, 0, 0);
    color:#2b2b2b;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
    
}

.plan1{
       color: #151514;
    font:bold 24px/45px; 
    background:;
    padding-left: 10px;
    padding-right: 4px;
    font-family: 'Georgia', serif;
     position: absolute;
    top: 395px;
    left: 730px;
    width: 100%;
    font-size: 25px;
}
.plan2{
      color: #151514;
    font:bold 24px/45px; 
    background:;
    padding-left: 10px;
    padding-right: 4px;
      font-family: 'Georgia', serif;
     position: absolute;
    top: 690px;
    left: 730px;
    width: 100%;
    font-size: 25px;
}
.plan3{
    color: #151514;
    font:bold 24px/45px; 
    background:;
    padding-left: 10px;
    padding-right: 4px;
    font-family: 'Georgia', serif;
     position: absolute;
  top:984px;
    left: 730px;
    width: 100%;
    font-size: 25px;
}
#mad1{
    position: absolute;
    color:#5e7a67;
    top:320px;
    left: 840px;
}
#mad2{
       position: absolute;
    color:#5e7a67;
    top:620px;
    left: 840px;
}
#mad3{
       position: absolute;
    color:#5e7a67;
    top:915px;
    left: 840px;
}
}
/*opskrifter*/

.flex-item2 {
     background-color: white;
    width: 1000px;
    height: 250px;
    margin: 0px 50px 20px 80px;
    border: solid;
    overflow: hidden;
    border-color: rgba(0, 0, 0, 0);
    color:#2b2b2b;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
    
    
}
.op1{
       color: #151514;
    font:bold 24px/45px; 
    background:;
    padding-left: 10px;
    padding-right: 4px;
    font-family: 'Georgia', serif;
     position: absolute;
    top: 385px;
    left: 750px;
    width: 100%;
    font-size: 25px;
   
}
.op2{
     color: #151514;
    font:bold 24px/45px; 
    background:;
    padding-left: 10px;
    padding-right: 4px;
      font-family: 'Georgia', serif;
     position: absolute;
    top: 680px;
    left: 750px;
    width: 100%;
    font-size: 25px;
}

.op3{
      color: #151514;
    font:bold 24px/45px; 
    background:;
    padding-left: 10px;
    padding-right: 4px;
    font-family: 'Georgia', serif;
     position: absolute;
  top:970px;
    left: 750px;
    width: 100%;
    font-size: 25px;

}
#ops1{
    position: absolute;
    color:#5e7a67;
    top:330px;
    left: 880px;
    
}
#ops2{
     position: absolute;
    color:#5e7a67;
    top:620px;
    left: 880px;
}
#ops3{
     position: absolute;
    color:#5e7a67;
    top:910px;
    left: 880px;
}
/*falafler*/

.falafler2{
      -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
    margin: 0px 70px;
    font-family: 'Lato', sans-serif;
   
}
.falafler1{
    font-size: 400%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #5e7a67;
}

/*træning*/

.Traning{
       display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    height: auto;
    background-color: ;
    padding-top: 20px;
}
.flex-tra{
      background-color: white;
    width: 1000px;
    height: 250px;
    margin: 20px 50px 20px 43px;
    border: solid;
    overflow: hidden;
    border-color: rgba(0, 0, 0, 0);
    color:#2b2b2b;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
}
.pic{
      width: 500px;
    height: 300px;
    margin: 0px 0px;
    cursor: pointer;
}
.ttekst{
       color: #151514;
    font:bold 24px/45px; 
    background:;
    padding-left: 10px;
    padding-right: 4px;
    font-family: 'Lato', sans-serif;
     position: absolute;
    top: 395px;
    left: 760px;
    width: 100%;
    font-size: 25px;
   
}
.ttekst1{
     color: #151514;
    font:bold 24px/45px; 
    background:;
    padding-left: 10px;
    padding-right: 4px;
      font-family: 'Lato', sans-serif;
     position: absolute;
    top: 690px;
    left: 780px;
    width: 100%;
    font-size: 25px;
}

#ttekst2{
      color: #151514;
    font:bold 24px/45px; 
    background:;
    padding-left: 10px;
    padding-right: 4px;
    font-family: 'Lato', sans-serif;
     position: absolute;
  top:984px;
    left: 770px;
    width: 100%;
    font-size: 25px;

}
.sund{
    position: absolute;
    color:#5e7a67;
    top:320px;
    left: 840px;
}
#sund1{
   position: absolute;
    color:#5e7a67;
    top:620px;
    left: 840px;
}
#sund3{
     position: absolute;
    color:#5e7a67;
    top:910px;
    left: 840px;
}
#tips1{
    margin: 0px 200px 0px 200px;
    font-family: 'Lato', sans-serif;
    text-align: justify;
}
#tips{
    font-size: 400%;
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #5e7a67;
    margin: 70px;
}
/*sundhed*/ 

#sundhed2{
       color: #151514;
    font:bold 24px/45px; 
    background:;
    padding-left: 10px;
    padding-right: 4px;
    font-family: 'Lato', sans-serif;
     position: absolute;
    top: 395px;
    left: 780px;
    width: 100%;
    font-size: 25px;
   
}
.flex{
        background-color: white;
    width: 1000px;
    height: 250px;
    margin: 20px 50px 20px 80px;
    border: solid;
    overflow: hidden;
    border-color: rgba(0, 0, 0, 0);
    color:#2b2b2b;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
}
#sundhed3{
  
     color: #151514;
    font:bold 24px/45px; 
    background:;
    padding-left: 10px;
    padding-right: 4px;
      font-family: 'Lato', sans-serif;
     position: absolute;
    top: 670px;
    left: 720px;
    width: 100%;
    font-size: 25px;
}
#sundhed4{
      color: #151514;
    font:bold 24px/45px; 
    background:;
    padding-left: 10px;
    padding-right: 4px;
    font-family: 'Lato', sans-serif;
     position: absolute;
  top:960px;
    left: 780px;
    width: 100%;
    font-size: 25px;
}
.su{
    position: absolute;
    color:#5e7a67;
    top:320px;
    left: 880px;
}
#s1{
   position: absolute;
    color:#5e7a67;
    top:610px;
    left: 880px;
}
#s2{
     position: absolute;
    color:#5e7a67;
    top:910px;
    left: 880px;
}

.footer-distributed{
	background-color: #fbfbfb;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #c6b58d;
	font: normal 36px 'Lato', sans-serif;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5e7a67;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #c6b58d;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 25px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #c6b58d;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #5e7a67;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #c6b58d;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


/*mobil*/

@media (max-width:767px) {}

/*tablet*/

@media (min-width:767px) and (max-width:1023px)
/*Desktop*/

@media (min-width:1024px)
